::ng-deep{
    .pi{
        margin-right: 10px;
    }

    .p-button {
        color: #ffffff;
        background: var(--primary-button);
        border: 1px solid var(--primary-button);
        padding: 0.8rem 1.25rem;
        font-size: 1rem;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
        border-radius: 6px;

    }

    .p-button:focus {
        box-shadow: none;
    }

    .login-button,.register-button{
        .p-button{
            background: var(--primary-button);
            width: 350px;

        }
    }
    
    .cancel-button{
        .p-button{
            background: red;
            border: 1px solid red;
            
            &:hover{
                background: rgb(239, 63, 63);
                border: 1px solid rgb(239, 63, 63);

            }
        }

    }
    .secondary-button{
        .p-button{
            height: 35px;
            background-color: var(--backgorund-color);
            border: .1px solid rgba(138, 136, 136, 0.496);
            color: rgb(138, 136, 136);
            transition: all .051s;
            border-radius: 3px;
            .p-button-label {
                font-weight: 400;
                font-size: 14px;
            }
            
            &:hover{
                background: rgba(56, 55, 55, 0.579);
                border: .1px solid rgba(56, 55, 55, 0.92);
                color: rgb(192, 190, 190);
            }
        }
    }

    .primary-button{
        .p-button{
            height: 40px;
            background-color: var(--white);
            border: .1px solid white ;
            color: black;
            border-radius: 3px;
            
            &:hover{
                background: rgba(255, 255, 255, 0.890);
                border: .1px solid rgba(255, 255, 255, 0.890) ;
                color: black;
            }
        }
    }

    .round-button{
        .p-button{
            border-radius: 25px;
            // height: 40px;
        }
    }

    
}