<div class="">
    <div 
        class=""
        [formGroup] = "formGroup"
    >
        <div class="text-box">
            <div 
                class="label"
                *ngIf="label"    

            >
                <label for="">
                    {{label}}<span *ngIf="requiredStar" class="required-star">*</span>
                </label>
            </div>
        </div>
        <div class="input-password">
            <span
                [class]="needIcon ? 'p-input-icon-left' : '' "
            >
                <i
                    *ngIf="needIcon"
                    [class]="iconName"
                ></i>
                <p-password 
                    [formControlName]="name" 
                    [feedback]="feedback"
                    [disabled]="disabled"
                    [toggleMask]="toggleMask"
                    [placeholder]="placeholder"
                ></p-password>
            </span>
        </div>
    </div>
</div>
