<div class="page container-fluid">
    <div class="header">
        <span>Madhu.todo</span>
    </div>
    <div class="login">
        <div class="heading">
            <span>Welcome!</span>
        </div>
        <div class="body">
            <div class="">
                <app-input-text
                    [label] = "'Email'"
                    [needIcon] = "true"
                    [iconName] = "'pi pi-user'"
                    [requiredStar] = "true"
                    [inputClassName] = "'input-field'"
                ></app-input-text>
            </div>
        </div>
    </div>
</div>