<div class="">
    <div 
        [formGroup]="formGroup"
    >
        <div class="text-box">
            <div 
                class="label"
                *ngIf="label"    

            >
                <label for="">
                    {{label}}<span *ngIf="requiredStar" class="required-star">*</span>
                </label>
            </div>
        </div>
        <div [class]="inputClassName">
            <span
                [class]="needIcon ? 'p-input-icon-left' : '' "
            >
                <i
                *ngIf="needIcon"
                    [class]="iconName"
                ></i>
                <input 
                    pInputText
                    [type]="type"
                    [disabled] = "disabled"
                    [formControlName] = "name"
                    [placeholder] = "placeholder"
                >
            </span>
        </div>
    </div>
</div>