:root{
    --background-color : #161616;
    --background-color : #000000;
    --primary-color : #0074e0;
    --primary-button : #0083ff;
    --white : #fff;
    --black: #000;
    --secondary-text : #777;
}

