/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('colors.scss');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    font-family: 'Inter', sans-serif;
}
$borderRadius: 3px;


// font-family: 'Inter', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Poppins', sans-serif;
:root{
    // BUTTON STYLES
    $borderRadius: 3px;
    --borderRadius : var(--bor)

}